.*.sw[nop]
AfterStep.desktop
AfterStep.desktop.final
AfterStep.desktop.session
AfterStep.spec
Makefile
afterstep/Makefile
afterstep/applications/modules.desktop
afterstep/autoexec
afterstep/base
afterstep/pager
afterstep/sound
afterstep/start/.include
afterstep/start/1_Desktop/Color_Scheme/.include
afterstep/start/1_Desktop/Feel/.include
afterstep/start/1_Desktop/Look/.include
afterstep/start/1_Desktop/Pictures/AfterStep_Images/.include
afterstep/start/1_Desktop/Pictures/User_Backgrounds/.include
afterstep/start/1_Desktop/Theme/.include
afterstep/start/3_run
autoconf/Makefile.common
autoconf/Makefile.common.lib
autoconf/Makefile.defines
config.h
config.log
config.status
configure.h
configure.sh
doc/Makefile
doc/afterstepdoc
libASGTK/Makefile
libASGTK/asgtk-config
libASGTK/asgtkai.o
libASGTK/asgtkapp.o
libASGTK/asgtkcframe.o
libASGTK/asgtkcolorsel.o
libASGTK/asgtkdirtree.o
libASGTK/asgtkgradient.o
libASGTK/asgtkimagebrowser.o
libASGTK/asgtkimagedir.o
libASGTK/asgtkimageview.o
libASGTK/asgtklistviews.o
libASGTK/asgtklookedit.o
libASGTK/asgtkxmleditor.o
libASGTK/asgtkxmloptlist.o
libASGTK/libASGTK.a
libASGTK/mystyle_editor_interface.o
libASGTK/show_flags_cc
libAfterBase/Makefile
libAfterBase/afterbase_config.h
libAfterBase/ashash.o
libAfterBase/aslist.o
libAfterBase/asvector.o
libAfterBase/audit.o
libAfterBase/config.h
libAfterBase/config.log
libAfterBase/config.status
libAfterBase/fs.o
libAfterBase/layout.o
libAfterBase/libAfterBase.a
libAfterBase/mystring.o
libAfterBase/os.o
libAfterBase/output.o
libAfterBase/parse.o
libAfterBase/regexp.o
libAfterBase/safemalloc.o
libAfterBase/selfdiag.o
libAfterBase/show_flags_cc
libAfterBase/sleep.o
libAfterBase/socket.o
libAfterBase/timer.o
libAfterBase/trace.o
libAfterBase/xml.o
libAfterBase/xprop.o
libAfterBase/xwrap.o
libAfterConf/ASMount.o
libAfterConf/ASetRoot.o
libAfterConf/AfterStep.o
libAfterConf/AlignBevel.o
libAfterConf/Animate.o
libAfterConf/Base.o
libAfterConf/Clean.o
libAfterConf/Color.o
libAfterConf/Database.o
libAfterConf/DesktopEntry.o
libAfterConf/Feel.o
libAfterConf/Ident.o
libAfterConf/Look.o
libAfterConf/Makefile
libAfterConf/MyFrame.o
libAfterConf/MyStyle.o
libAfterConf/Pager.o
libAfterConf/PrintDesktopEntries
libAfterConf/PrintDesktopEntries.o
libAfterConf/Sound.o
libAfterConf/Wharf.o
libAfterConf/WinList.o
libAfterConf/WinTabs.o
libAfterConf/balloon.o
libAfterConf/function.o
libAfterConf/libAfterConf.a
libAfterConf/show_flags_cc
libAfterImage/Makefile
libAfterImage/afterbase.h
libAfterImage/afterimage-config
libAfterImage/afterimage-libs
libAfterImage/aftershow/Makefile
libAfterImage/apps/Makefile
libAfterImage/apps/ascheckttf
libAfterImage/apps/ascheckttf.o
libAfterImage/apps/ascompose
libAfterImage/apps/ascompose.o
libAfterImage/apps/asflip
libAfterImage/apps/asflip.o
libAfterImage/apps/asgrad
libAfterImage/apps/asgrad.o
libAfterImage/apps/asi18n
libAfterImage/apps/asi18n.o
libAfterImage/apps/asmerge
libAfterImage/apps/asmerge.o
libAfterImage/apps/asscale
libAfterImage/apps/asscale.o
libAfterImage/apps/astext
libAfterImage/apps/astext.o
libAfterImage/apps/astile
libAfterImage/apps/astile.o
libAfterImage/apps/asvector
libAfterImage/apps/asvector.o
libAfterImage/apps/asview
libAfterImage/apps/asview.o
libAfterImage/apps/common.o
libAfterImage/ascmap.o
libAfterImage/asfont.o
libAfterImage/asimage.o
libAfterImage/asimagexml.o
libAfterImage/asstorage.o
libAfterImage/asvisual.o
libAfterImage/blender.o
libAfterImage/bmp.o
libAfterImage/char2uni.o
libAfterImage/config.h
libAfterImage/config.log
libAfterImage/config.status
libAfterImage/draw.o
libAfterImage/export.o
libAfterImage/imencdec.o
libAfterImage/import.o
libAfterImage/libAfterImage.a
libAfterImage/pixmap.o
libAfterImage/scanline.o
libAfterImage/show_flags_cc
libAfterImage/transform.o
libAfterImage/ungif.o
libAfterImage/xcf.o
libAfterImage/ximage.o
libAfterImage/xpm.o
libAfterStep/Makefile
libAfterStep/afterstep-config
libAfterStep/asapp.o
libAfterStep/ascommand.o
libAfterStep/asdatabase.o
libAfterStep/asfeel.o
libAfterStep/aswindata.o
libAfterStep/balloon.o
libAfterStep/canvas.o
libAfterStep/clientprops.o
libAfterStep/colorscheme.o
libAfterStep/decor.o
libAfterStep/desktop_category.o
libAfterStep/event.o
libAfterStep/font.o
libAfterStep/freestor.o
libAfterStep/functions.o
libAfterStep/hints.o
libAfterStep/kde.o
libAfterStep/libAfterStep.a
libAfterStep/module.o
libAfterStep/moveresize.o
libAfterStep/myicon.o
libAfterStep/mylook.o
libAfterStep/mystyle.o
libAfterStep/mystyle_property.o
libAfterStep/operations.o
libAfterStep/outline.o
libAfterStep/parser.o
libAfterStep/parser_fs.o
libAfterStep/parser_xml.o
libAfterStep/screen.o
libAfterStep/session.o
libAfterStep/shape.o
libAfterStep/show_flags_cc
libAfterStep/wmprops.o
rebuild.sh
src/ASConfig/Makefile
src/ASDocGen/ASDocGen
src/ASDocGen/ASDocGen.o
src/ASDocGen/Makefile
src/ASDocGen/datadoc.o
src/ASDocGen/do_compile
src/ASDocGen/doc_html
src/ASDocGen/doc_man
src/ASDocGen/docfile.o
src/ASDocGen/html/
src/ASDocGen/log.html
src/ASDocGen/log.man
src/ASDocGen/man/
src/ASDocGen/robodoc.o
src/ASDocGen/show_flags_cc
src/ASDocGen/xmlproc.o
src/ASMount/ASMount
src/ASMount/Makefile
src/ASMount/main.o
src/Animate/Animate
src/Animate/Animate.o
src/Animate/Makefile
src/Arrange/Arrange
src/Arrange/Arrange.o
src/Arrange/Makefile
src/Banner/Banner.sh
src/Banner/Makefile
src/Clean/Makefile
src/Form/Makefile
src/Gadget/Makefile
src/Gnome/Makefile
src/Ident/Ident
src/Ident/Ident.o
src/Ident/Makefile
src/Pager/Makefile
src/Pager/Pager
src/Pager/Pager.o
src/Script/Makefile
src/Script/Widgets/Makefile
src/Scroll/Makefile
src/Sound2/Makefile
src/Wharf/Makefile
src/Wharf/Wharf
src/Wharf/Wharf.o
src/WinCommand/GWCommand
src/WinCommand/GWCommand.o
src/WinCommand/Makefile
src/WinCommand/WinCommand
src/WinCommand/WinCommand.o
src/WinList2/Makefile
src/WinList2/WinList
src/WinList2/WinList.o
src/WinTabs/Makefile
src/WinTabs/WinTabs
src/WinTabs/WinTabs.o
src/afterstep/Makefile
src/afterstep/add_window.o
src/afterstep/afterstep
src/afterstep/afterstep.o
src/afterstep/aswindow.o
src/afterstep/colormaps.o
src/afterstep/configure.o
src/afterstep/cover.o
src/afterstep/dbus.o
src/afterstep/decorations.o
src/afterstep/dirtree.o
src/afterstep/events.o
src/afterstep/functions.o
src/afterstep/housekeeping.o
src/afterstep/icons.o
src/afterstep/menuitem.o
src/afterstep/menus.o
src/afterstep/misc.o
src/afterstep/module.o
src/afterstep/pager.o
src/afterstep/placement.o
src/afterstep/show_flags_cc
src/afterstep/theme.o
src/afterstep/winstatus.o
src/ascp/Makefile
src/ascp/ascolor
src/ascp/ascolor.o
src/ascp/fltk/Makefile
src/ascp/gtk/Makefile
src/asetroot/Makefile
src/test/Makefile
src/tools/ASFileBrowser/ASFileBrowser
src/tools/ASFileBrowser/Makefile
src/tools/ASFileBrowser/interface.o
src/tools/ASFileBrowser/main.o
src/tools/ASRun/ASRun
src/tools/ASRun/Makefile
src/tools/ASRun/main.o
src/tools/ASWallpaper/ASWallpaper
src/tools/ASWallpaper/Makefile
src/tools/ASWallpaper/interface.o
src/tools/ASWallpaper/main.o
tools/Makefile
tools/installastheme.pl
tools/makeastheme.pl
tools/postcard.sh
